Resources:
 AWSEBV2LoadBalancerListener:
  Type: AWS::ElasticLoadBalancingV2::Listener
  Properties:
    LoadBalancerArn:
      Ref: AWSEBV2LoadBalancer
    Port: 80
    Protocol: HTTP
    DefaultActions:
      - Type: redirect
        RedirectConfig:
          Host: "#{host}"
          Path: "/#{path}"
          Port: "443"
          Protocol: "HTTPS"
          Query: "#{query}"
          StatusCode: "HTTP_301"
option_settings:
    aws:elbv2:listener:443:
        DefaultProcess: https
        ListenerEnabled: 'true'
        Protocol: HTTPS
    aws:elasticbeanstalk:environment:process:https:
        HealthCheckPath: /management/health
        Port: 8080
        MatcherHTTPCode: 200
    aws:elasticbeanstalk:environment:process:default:
        HealthCheckPath: /management/health
        Port: 8080
        MatcherHTTPCode: 200
