option_settings:
    aws:elasticbeanstalk:container:tomcat:jvmoptions:
        JVM Options: -Dspring.profiles.active=dev
        Xmx: 1536m
        XX:MaxPermSize: 128m
    aws:elasticbeanstalk:application:
        Application Healthcheck URL: /management/health
    aws:elasticbeanstalk:xray:
        XRayEnabled: false
