option_settings:
    aws:elasticbeanstalk:application:environment:
        DATABASE_USERNAME: { "Fn::Join": ["", ["{{resolve:secretsmanager:", { "Fn::GetOptionSetting" : { "Namespace" : "aws:elasticbeanstalk:customoption", "OptionName": "DatabaseSecretArn" }}, ":SecretString:username}}" ]]}
        DATABASE_PASSWORD: { "Fn::Join": ["", ["{{resolve:secretsmanager:", { "Fn::GetOptionSetting" : { "Namespace" : "aws:elasticbeanstalk:customoption", "OptionName": "DatabaseSecretArn" }}, ":SecretString:password}}" ]]}
