Resources:
    AWSEBAutoScalingGroup:
        Type: "AWS::AutoScaling::AutoScalingGroup"
        Properties:
            HealthCheckType: ELB
            HealthCheckGracePeriod: 300
    ScheduledActionStart:
        Type: "AWS::AutoScaling::ScheduledAction"
        Properties:
            AutoScalingGroupName: { "Ref" : "AWSEBAutoScalingGroup" }
            Recurrence: "0 9 * * 1-5"
            DesiredCapacity: 1
            MinSize: 1
            MaxSize: 1
    ScheduledActionStop:
        Type: "AWS::AutoScaling::ScheduledAction"
        Properties:
            AutoScalingGroupName: { "Ref" : "AWSEBAutoScalingGroup" }
            Recurrence: "0 20 * * 1-5"
            DesiredCapacity: 0
            MinSize: 0
            MaxSize: 0
